*
!.gitignore

# Add my .bashrc and .bash_profile
!.bashrc
!.bash_profile

# XResources
!.Xresources

# Add certain files in .config
!.config

!.config/i3
!.config/i3/config
!.config/i3/ulauncher.sh
!.config/i3/i3-get-window-criteria.sh

!.config/i3status
!.config/i3status/config

!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json

