*
!.gitignore

# Add my .bashrc
!.bashrc

# Add certain files in .config
!.config

!.config/i3
!.config/i3/config

!.config/i3status
!.config/i3status/config

!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json

