*
!.gitignore

!.bashrc
!.bash_profile
!.inputrc
!.Xresources
!.vimrc

# Add certain files in .config
!.config

!.config/i3/
!.config/i3/**
.config/i3/config

!.config/i3status
!.config/i3status/config

!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json
!.config/Code\ -\ OSS/User/keybindings.json

!.config/polybar
!.config/polybar/config
!.config/polybar/launch.sh

!.config/dunst/
!.config/dunst/**

.Rproj.user

!.config/kitty/
!.config/kitty/**

