
! Main terminal colours
! Anything other than a #000 background and #FFF text is unacceptable
URxvt.foreground: #FFFFFF
URxvt.background: #000000

URxvt.font: xft:Source Code Pro:pixelsize=16:style=medium,\
            xft:Noto Emoji

! Fade text on unfocus
URxvt.fading: 20

! Scrolly boi
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.thickness: 10
URxvt.scrollColor: #444444
URxvt.troughColor: #222222

! Blinky cursor boi
URxvt.cursorColor: #FFFFFF
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

! A more visible blue on the black background
URxvt.color12: #264CC9

! Add custom copy paste shortcuts and remove old ones
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Remove yellow box that appears on Ctrl+Shift
URxvt.iso14755 : false

!! Allow text selection mode for copying
! Shortcuts are a bit confusing
! Ctrl-s to enter selection mode
! Arrow keys to navigate around (or hjkl)
! "v" to enter/leave select mode
! "y" to yank (copy) text to clipboard
! "Esc" or "q" to exit select mode
URxvt.perl-ext-common: default,selection-to-clipboard,keyboard-select
URxvt.keyboard-select.clipboard: true
URxvt.keysym.Control-s: perl:keyboard-select:activate
